
fileUploadPath: file/

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/keepaccounts?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: zelfly737218
  web:
    resources:
      static-locations: file:file/, classpath:/static

logging:
  level:
    com:
      gyh:
        keepaccounts:
          mapper: DEBUG

mybatis:
  mapper-locations: classpath:/mapper/*Mapper.xml
  type-aliases-package: com.ibms.demo.mapper
server:
  port: 81
